.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }





.banner{
    background-image: url(images/cycle2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    height:600px ;
    position: relative;
   
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:skyblue;
    position: sticky;
    top: 0px;
    z-index: 1;
}



.navul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    padding: 5px;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    
}
 .navul > li{
    list-style-type: none;
    
 }

 .about{
    position: relative;
 }
.aboutdropdown{
    display: none;
   border: 1px solid;
    background-color: white;
    padding: 30px;

position: absolute;

}

.aboutdropdown a{
    padding: 10px;
    cursor: pointer;
}
input{
    width: 200px;
    padding: 8px;
    border: none;
    outline: none; 
    
}
.inputdiv{
    width: 300px;
    border-radius:20px ;
    background-color: white;
    padding: 5px;
}
.inputdiv i{
    float: right;
    padding: 5px;
    
}

.pagesdropdown{
    display:none
}
.about:hover .aboutdropdown{
    display: block;
}

.head{
    position: absolute;
    left: 40px;
    top: 200px;
}

.container1 {
    margin-top: 20px;
}

.shop{
    margin-top: 20px;
    display: flex;
}
.container2{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    
}

.box1 ,.box2,.box3,.box4{
    width: 400px;
    text-align: left;
    padding: 50px;
    box-shadow: 2px  2px 4px skyblue;
    margin: 10px;
    border-radius: 20px;
}

.container3{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
  justify-content: space-around;
   

   
}

.imagediv{
  position: relative;
width: 45%;
box-shadow: 2px  2px 4px grey;

}
.imagediv img{
    width: 100%;
    height: auto;
}



.container3 button{
    position: absolute;
    
   top: 50%;
   left: 50%;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: skyblue;
    border: none;
    
    font-size: 20px;


  
}

.container4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(images/cycle2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.feature{
    width: 400px;
    text-align: left;
    padding: 50px;
    box-shadow: 2px 2px  4px grey;
    margin: 10px;
    border-radius: 50%;

}




.cardcontainer{
    background-color: white;
    display: flex;
    padding:30px;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.card{
    background-color: white;
    height: 350px;
    width: 250px;
    text-align: center;
  box-shadow: 0px 5px 5px 5px grey;
margin-bottom: 20px;
margin-right: 20px;

}

.image{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.price{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

button{
    padding: 10px 50px;
    background-color: orange;
    color: black;
    border: none;
}

.container5{
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container5 p{
    font-size: 20px;
}





